/* --------------------*/
/* ---  Interface  --- */
/* --------------------*/

$topbar-height: 70px;

/* ---  Project Status --- */
$project-disponible-light: #4EAE1F;
$project-disponible-dark: #3B7B1C;

// $project-fondeado-light: #3498db;
// $project-fondeado-dark: #2980b9;

$project-fondeado-light: #FF6D00;
$project-fondeado-dark: #CF6516;

$dark_blue: #0A182E;
$imoblo_yellow:#FFD130;